<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="demo.dao.OrderDao">
    <select id="selectOrder" resultType="Order" parameterType="Order">
        select `id`,`ordercode`,`ordername`,`supplier` from `order`
        <if test="ordername != null and ordername != ''">
            where `ordername` like concat("%",#{ordername},"%")
        </if>
    </select>
</mapper>