<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="Userdao" class="org.dao.impl.UserDaoImpl"></bean>

    <bean id="UserService" class="org.service.impl.UserServiceImpl">
        <property name="userDao" ref="Userdao"></property>
    </bean>

    <bean id="User" class="org.aop.User"></bean>

    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* org.service.impl..*.*(..))"/>
        <aop:aspect ref="User">
            <aop:before method="before" pointcut-ref="pointcut"></aop:before>
            <aop:after-returning method="after" pointcut-ref="pointcut"></aop:after-returning>
        </aop:aspect>
    </aop:config>

</beans>